$i: 4;
@while $i < 49 {
  // padding

  .p-#{$i} {
    padding: #{$i}px;
  }
  .px-#{$i} {
    padding-right: #{$i}px;
    padding-left: #{$i}px;
  }
  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  // margin

  .m-#{$i} {
    padding: #{$i}px;
  }
  .mx-#{$i} {
    padding-right: #{$i}px;
    padding-left: #{$i}px;
  }
  .my-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .mt-#{$i} {
    padding-top: #{$i}px;
  }
  .mb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .mr-#{$i} {
    padding-right: #{$i}px;
  }
  .ml-#{$i} {
    padding-left: #{$i}px;
  }

  $i: $i + 1;
}

.pt-70 {
  padding-top: 70px;
}

.w-100 {
  width: 100% !important;
}

.height-100vh {
  height: 100vh !important;
}
